<%- include('includes/header'); %>
    <h2>Dokument</h2>
    <% docs.forEach(function(doc){ %>
        <h3><a href="/docs/<%= doc.id %>"><%= doc.title %></a></h3>
    <% }); %>
    <a href="/add">Skapa nytt dokument</a>
<%- include('includes/footer'); %>
