<%- include('includes/header'); %>
    <h1>Dokument</h1>
    <% docs.forEach(function(doc){ %>
        <h3><a href="/docs/<%= doc.id %>"><%= doc.title %></a></h3>
    <% }); %>
    <a class="add-doc" href="/add">Skapa nytt dokument</a>
<%- include('includes/footer'); %>
